<!DOCTYPE html>
<html>
<head>
	<style>
        body {
            /*overflow: hidden;
            margin: 0px;*/
        }
 
		.game-holder {
			position: absolute;
			width: 100%;
			height: 100%;
			/* background: -webkit-linear-gradient(#e4e0ba, #f7d9aa);
			background: linear-gradient(#e4e0ba, #f7d9aa); */
			background-image: url("nublado.jpg");
			background-size: cover;
		}

		.world {
			position: absolute;
			overflow: hidden;
			width: 100%;
			height: 100%;
		}

		.header {
			position: absolute;
			top: 8vh;
			left: 0;
			width: 100%;
			text-align: center;
			pointer-events: none;
		}

		.header h1 {
			font-family: 'Playfair Display';
			font-size: 4.5em;
			line-height: 1;
			margin: 0;
			letter-spacing: -0.025em;
			color: #d1b790;
		}

		.header h1 span {
			font-size: 0.2em;
			font-style: italic;
			display: block;
			margin: 0 0 -1.5em -7em;
			letter-spacing: 0px;
		}

		.header h2 {
			font-size: 0.585em;
			margin: 0.25em 0;
			white-space: nowrap;
			text-indent: 1em;
			letter-spacing: 1em;
			text-transform: uppercase;
			color: #d6483b;
		}

		.score {
			width: 100%;
			margin: 2em 0 0;
			text-align: center;
			white-space: nowrap;
		}

		.score__content {
			position: relative;
			display: inline-block;
			padding: 0 1em;
			vertical-align: top;
		}

		.score__content:nth-child(2) {
			border-right: 1px solid #d1b790;
			border-left: 1px solid #d1b790;
		}

		.score__label {
			font-size: 9px;
			position: relative;
			margin: 0 0 0.5em 0;
			text-align: center;
			letter-spacing: 3px;
			text-transform: uppercase;
			color: #d1b790;
		}

		.score__value {
			font-family: 'Playfair Display';
			font-weight: bold;
			color: #d1b790;
		}

		.score__value--level {
			font-size: 26px;
		}

		.score__value--dist {
			font-size: 30px;
		}

		.level-circle {
			position: absolute;
			left: 50%;
			width: 46px;
			margin: -37px 0 0 -23px;
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
		}

		.score__value--energy {
			position: relative;
			width: 60px;
			height: 8px;
			margin-top: 20px;
			border-radius: 3px;
			background-color: #d1b790;
		}

		.energy-bar {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: 2px;
			background-color: #f25346;
			-webkit-animation-name: none;
			animation-name: none;
			-webkit-animation-duration: 150ms;
			animation-duration: 150ms;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
		}

		.message {
			font-weight: bold;
			position: absolute;
			left: 0;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			pointer-events: none;
		}

		.message--replay {
			font-size: 1.25vw;
			bottom: 40vh;
			display: none;
			text-indent: 0.5em;
			letter-spacing: 0.5em;
			color: #d1b790;
		}

		.message--instructions {
			font-family: 'Playfair Display';
			font-size: 0.85em;
			bottom: 8vh;
			letter-spacing: 0.2em;
			color: #68c3c0;
		}

		.message--instructions span {
			display: block;
			color: #d6483b;
			white-space: nowrap;
		}

		@-webkit-keyframes blinking {
			0% { opacity: 1; }
			50% { opacity: 0; }
			100% { opacity: 1; }
		}

		@keyframes blinking {
			0% { opacity: 1; }
			50% { opacity: 0; }
			100% { opacity: 1; }
		}

		@media screen and (max-width: 40em) {
			.header {
				font-size: 0.75em;
				top: 6.5em;
			}
			.header h2 {
				letter-spacing: 0.65em;
			}
		}


		#formulario{
			background:#FFFFFF;
			position: absolute; /* podría ser relative */
			width: 300px;
			height: 300px;
			left: 35%;
			top: 150px;
			border: groove 1em #A9A4A4;  
			border-radius: 2em;
		}
		form label{
			width:72px;
			font-weight:bold;
			display:inline-block;
		}
		form input[type="text"], form input[type="password"]{
			width:180px;
			padding:3px 10px;
			border:1px solid #f6f6f6;
			border-radius:3px;
			background-color:#f6f6f6;
			margin:8px 0;
			display:inline-block;
		}
		form input[type="submit"]{
			width:90%;
			padding:8px 16px;
			margin-top:32px;
			border:1px solid #000;
			border-radius:5px;
			display:block;
			color:#fff;
			background-color:#000;
		}
		form input[type="submit"]:hover{
			color: #0B86C5;
			background-color: #ffffff;
		}

    </style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
    <script type="text/javascript" src="./TweenMax.min.js"></script>
    <script type="text/javascript" src="./three.min.js"></script>
	<script type="module" src="./client.js"></script>

	<div class="row">
		<div class="col-md-6 mt-4 text-center">
			<h3 class="card-title">Tabal de Puntuaciones</h3>
		  <table class="table table-striped table-bordered">
			<tr>
			  <th>Nombre</th>
			  <th>Puntuacion</th>
			</tr>
			<% for (var i = 0; i < registro.length; i ++) { %>
			  <tr>
				<td><%= registro[i].Nombre %></td>
				<td><%= registro[i].Puntaje %></td>
			  </tr>
			<% } %>
		  </table>
		</div>

		<div class="col-md-6 mt-4 card">
			<form class="card-body" action="/news" method="post">
			  <h3 class="card-title">Añade Jugador</h3>
			  <div class="form-group">
				<input name="nombre" type="text" class="form-control" placeholder="NickName">
			  </div>
			  <div class="form-group">
				<input name="puntaje" id ="puntaje" type="text" class="form-control" value="" placeholder="Puntaje" readonly>
			  </div>
			  <input type="submit" class="btn btn-primary">
			</form>
		</div>
    </div>

	<!-- Aqui va la parte del juego -->

    <body>
		<div class="game-holder" id="gameHolder">
			<div class="header">
				<div class="score" id="score">
					<div class="score__content" id="level">
						<div class="score__label">level</div>
						<div class="score__value score__value--level" id="levelValue">1</div>
						<svg class="level-circle" id="levelCircle" viewbox="0 0 200 200">
							<circle id="levelCircleBgr" r="80" cx="100" cy="100" fill="none" stroke="#d1b790" stroke-width="24px" />
							<circle id="levelCircleStroke" r="80" cx="100" cy="100" fill="none" #f25346 stroke="#68c3c0" stroke-width="14px" stroke-dasharray="502" />
						</svg>
					</div>
					<div class="score__content" id="dist">
						<div class="score__label">distance</div>
						<div class="score__value score__value--dist" id="distValue">000</div>
					</div>
					<div class="score__content" id="energy">
						<div class="score__label">energy</div>
						<div class="score__value score__value--energy" id="energyValue">
							<div class="energy-bar" id="energyBar"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="world" id="world"></div>
			</div>
		<div class="partisan">
			<svg class="partisan__bg" viewBox="0 0 500 188" preserveAspectRatio="none" width="100%" height="100%" aria-hidden="true">
				<polygon points="0 154 123.39 0 235.78 14.79 365.6 28.9 436.24 114.93 500 188 0 188 0 154" fill="#bed730"/>
				<polygon points="0 188 108.84 18.17 347.91 26.79 500 188 365.6 28.9 123.39 0 0 154 0 188" fill="#dde465"/>
			</svg>
		</div>
	</body>
</body>

</html>